.hero {
    background-color: black;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  
.image{
    width:799px;
    height:212px;
    top:103px;
    margin-right: 350px;
}